
@media screen and (max-width: 1334px) {

	
	#logo	{

	width: 90%;

	}
	
}


@media screen and (max-width: 1106px) {

	#header-buttons	{
	
		visibility: hidden !important;
	
	}
	
	#navbar-header	{
		position: absolute;
		top: -4% !important;
		right: 0% !important;
		visibility: visible !important;
		border: 0px solid #FFF;
	}

	
	#navbar-wrapper	{
		position: absolute;
		top: 0px !important;
		right: 0px !important;
		width: 100% !important;
	}
	
	#logo-wrapper	{
		top: 42px !important;
		right: 0px !important;
		height: 12% !important;
		position: absolute;
		width: 100% !important;
	}
	
	
	#nested	{
		width: 100%;
	
	}
	
	#nested-contact	{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		border: 0px solid #333;
		border-radius: 5px;

	}
	
	#carousel	{
		margin-top: 52px;
		width: 100% !important;
		right: 0px !important;
		width: 100% !important;
	}
	
	#iphone-menu	{
		margin-top: -5px;
		margin-left: -300px !important;
		margin-bottom: 100px !important;
		width: 352px;
		border-top-left-radius: 0px;
		background-color: #000 !important;
		opacity: 0.9;
	}
	
	#iphone-menu a:hover	{
		background-color: #000 !important;
		font-weight: bold;
	}
	
	#align-justify	{
		margin-top: 5px;
		text-align: center;
		width: 20px;
	}
	
	.dropdown	{
		height: 25px;
		padding: 0px !important;
		background-color: #000 !important;
	}
	
	#button-top	{
		visibility: hidden !important;
	
	}
	
	#client-errors-box	{
	
		font-size: 110% !important;
	
	}

}

@media screen and (max-width: 767px) {

	#navbar-header	{
		width: 20px;
		position: absolute;
		top: -10% !important;
		right: 2% !important;
		visibility: visible !important;
		border: 0px solid #FFF;
	}
	
	#navbar-wrapper	{
		margin-right: 0px !important;
		position: absolute;
		top: 0px !important;
		right: 0px !important;
		width: 100% !important;
	}
	
	#logo-wrapper	{
		top: 42px !important;
		right: 0px !important;
		height: 12% !important;
		position: absolute;
		width: 100% !important;
	}
	
	#carousel	{
		margin-top: 52px;
		width: 100% !important;
		right: 0px !important;
		width: 100% !important;
	}

	#iphone-menu	{
		margin-top: 0px;
		margin-right: 1% !important;
		margin-bottom: 100px !important;
		width: 351px;
		border-top-left-radius: 0px;
		background-color: #000 !important;
		opacity: 0.9;
	}
	
	
	#align-justify	{
		margin-top: 5px;
		text-align: center;
	}
	
	#divider	{
		border-bottom: 1px solid #FFF !important;
	}
	
}

@media screen and (max-width: 480px) {

	#carousel	{
		margin-top: 127px;
		width: 100% !important;
		right: 0% !important;
	}

	#navbar-header	{
		width: 20px;
		top: -16% !important;
		right: 5% !important;
		visibility: visible !important;
		border: 0px solid #FFF;
	}
	
	
	#iphone-menu	{
		margin-top: 0px;
		margin-left: -270px !important;
		margin-bottom: 100px !important;
		width: 321px;
		border-top-left-radius: 0px;
		background-color: #000 !important;
		opacity: 0.9;
	}
	
	
	#align-justify	{
		height: 25px;
		margin-top: 5px;
		text-align: center;
	}

	#logo-wrapper	{
		top: 50px !important;
		height: 80px !important;
		right: 0px !important;
		width: 100% !important;
	}
	
	#navbar-wrapper	{
		position: absolute;
		top: 0px !important;
		right: 0px !important;
		width: 110% !important;
	}
	
	#footer-container	{
	
		width: 100% !important;
		right: 0% !important;
	
	}
	
	#navbar-footer-wrapper	{
	
		width: 100% !important;
		right: 0% !important;
	
	}
	
	#nested	{
		width: 110%;
	
	}
	
	#nested-contact	{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		border: 0px solid #333;
		border-radius: 5px;

	}
	
	#phone-prefix-dash		{
	
		visibility: hidden;
	}

	#phone-suffix-dash		{

		visibility: hidden;
	}
	

}





















